@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

:root {
    --primary-color: #1E1E2C;
    --input-color: #2E3047;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* ==== navigation ===== */
.navigation{
    background: var(--primary-color);
    color: white;
    padding: 1rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-bottom-left-radius: 0.15rem;
    border-bottom-right-radius: 0.15rem;
}

.list-non-bullet{
    display: inline;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    text-decoration: none;
    text-align: right;
    margin: 0 1rem;
}

li{
    margin: 0 1rem;
}
.icon{
    border-radius: 0.25rem;
    width:2rem;
    display: inline;
    margin: 0 1rem;
}

/* ===== header ===== */
.container-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    margin-top:20vh;
}

.header-image{
    width:6rem;
    margin-right: 1rem;
}

/* ===== main Search===== */

main{
    margin-top:3rem;
    
}

.container-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width:90%;
    margin: auto;
}

input{
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    padding:1rem;
    font-size: 1rem;
    color: var(--primary-color);
    letter-spacing: 0.5px;
    cursor: pointer;
    width: 75%;
    text-align: left;
}

button{
    background: transparent;
    border: none;
    width: 2rem;
    cursor: pointer;
}

.icon-search{
    width: 2rem;
    border: 1px solid var(--primary-color);
    padding:0.5rem;
    margin-left:1rem;
    border-radius: 0.5rem;
    background: var(--primary-color);
}



@media (min-width: 760px) {

    .container-header{
        flex-direction: row;
    }

    .container-main{
        width:40%;
    } 
}